.screen-header__icons {
  display: flex;
}

.cog__alert {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  right: -50px;
}

.find-icons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.find-icons__icon span {
  margin-top: 15px;
}

.recommended-friends {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0px;
}

.recommended-friends__title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
}

.recommended-friends span {
  display: block;
  margin: 50px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  margin: 25px 0px;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.2);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
}

.open-post__member-count {
  opacity: 0.5;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post__member-status {
  color: green;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: black;
  opacity: 0.7;
  color: white;
  padding: 3px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
