.alt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 20px;
  padding-top: 40px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column {
  display: flex;
}
