.nav {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  padding: 18px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  left: 20px;
  bottom: 13px;
  position: absolute;
  bottom: 13px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__alert {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  bottom: 25px;
  left: 25px;
  position: absolute;
}

@keyframes appearBtnAnimation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  animation: appearBtnAnimation 1s ease-in-out;
}
